body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form > label{
  display: block;
  font-weight: bold;
  width: 25%;
}

form > label > input{
  width: 100%;
}

.input-container::before{
  content: 'Your Task';
  font-weight: bold;
  border-bottom: 1px black solid;
  display: table-caption;
}

.input-container{
  display: table;
  width: 100%;
}

.input-container form {
  margin-bottom: 5em;
}

.input-container > .input{
  display: table-row;
}

.input-container >  .input > .input-value{
  display: table-cell;
  width: 100%;
}

.input-container >  .input > .input-type{
  display: table-cell;
  padding-right: 10px;
}




.todo-list::before{
  content: 'Your To Do List';
  display: block;
  font-weight: bold;
  border-bottom: 1px black solid;
}
.todo-list{
  list-style-position: inside;
  padding-left: 0;
}

#titel{
  font-weight: bold;
}

#note{
  background: lightgray;
}

